.header{
    background-color: #3E007C;
    padding: 15px 45px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    color: aliceblue;
    justify-content: center;
}
h2{
    font-size: 30px;
}